body{
 margin:0;
 font-family: Arial;
}


.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://plus.unsplash.com/premium_photo-1673108852141-e8c3c22a4a22?w=600&auto=format&fit=crop&q=60");

  background-size: cover;
  background-position: center;
}

.container{
 background:rgba(255,255,255,0.95);
 padding:30px;
 width:320px;
 border-radius:10px;
 box-shadow:0 8px 20px rgba(0,0,0,0.3);
 text-align:center;
}

h1{
 color:#ff5722;
}

input{
 width:100%;
 padding:10px;
 margin:8px 0;
 border:1px solid #ccc;
 border-radius:5px;
}

button{
 width:100%;
 padding:10px;
 background:#ff5722;
 border:none;
 color:white;
 border-radius:5px;
 cursor:pointer;
}

button:hover{
 background:#e64a19;
}

.error{
 color:red;
 margin-bottom:10px;
}

a{
 color:#ff5722;
 text-decoration:none;
}